@import "../ISOF-React-modules/less/mixins.less";
@import "../ISOF-React-modules/less/skeleton.less";
@import "../ISOF-React-modules/less/leaflet.less";
@import "../ISOF-React-modules/less/MarkerCluster.Default.less";

@import "../ISOF-React-modules/less/ui-components/map.less";
@import "../ISOF-React-modules/less/ui-components/map-ui.less";
@import "../ISOF-React-modules/less/ui-components/popupwindow.less";

@import "../ISOF-React-modules/less/ui-components/mapmenu.less";
@import "../ISOF-React-modules/less/ui-components/dropdownmenu.less";
@import "../ISOF-React-modules/less/ui-components/local-library.less";
@import "../ISOF-React-modules/less/ui-components/overlay.less";
@import "../ISOF-React-modules/less/ui-components/audio-player.less";

@import "../ISOF-React-modules/less/minimal-scrollbar.less";
@import "../ISOF-React-modules/less/tables.less";

@import "../ISOF-React-modules/less/sitevision.less";

@color-red: #a6192e;
@color-red-lighter: #d4454c;
@color-red-divider: #b62837;
@color-gray: #edeff1;

@viewport {
	zoom: 0.75;
}

// Sitevision hack, remove #Publiceringsdatum
#Publiceringsdatum + span {
	display: none;
}
.sv-column-6 {
    display: none !important;
}

html, body {
	height: 100vh;
	width: 100vw;

	overflow: hidden;
}

body {
	padding: 0;
	margin: 0;

	font-size: 1rem;
}

h2 {
	.lighter {
		font-size: 1.4rem;
		color: #8d8d8d;
	}
}

.text-center {
	text-align: center;
}

.app-container {
	position: absolute;
	
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	overflow: hidden;

	.transition(top 300ms ease-in-out);

	&.has-overlay {
		overflow: hidden;
	}

	.has-docked-control & {
		top: 60px;
	}
}

.container-wrapper {
	position: absolute;

	top: 100vh;
	left: 0;
	right: 0;

	padding: 60px 0;

	background: #fff;

	box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.4);

	z-index: 1300;
}

.list-pagination {
	margin-top: 20px;
	
	button {
		margin-right: 10px;
	}
}

audio::-webkit-media-controls {
    overflow: hidden !important
}
audio::-webkit-media-controls-enclosure {
    width: calc(100% + 12px);
    margin-left: auto;
}