<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Sägenkarta</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,400italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/style.css"/>
</head>

<body>

<div id="app"></div>

<script type="text/template" id="markerPopupTemplate">
	<h2><%= model.get('name') %></h2>
	<p><strong>Härad:</strong> <%= model.get('harad') %></p>
	<p><strong>Landskap:</strong> <%= model.get('landskap') %></p>
	<p><strong>Län:</strong> <%= model.get('county') %></p>
	<p><a href="#place/<%= model.get('id') %>">View</a></p>
</script>

<script type="text/template" id="recordsListViewTemplate">

	<div class="table-wrapper list-container"></div>

	<div class="pagination">
		<p class="page-info"></p>
		<a class="button prev-button">Previous</a> <a class="button next-button">Nästa</a>
	</div>

</script>


<script type="text/template" id="recordsListTemplate">
	<table width="100%" class="table-responsive">
		<thead>
			<tr>
				<th scope="col">Titel</th>
				<th scope="col">Kategori</th>
				<th scope="col">Socken, Landskap</th>
				<th scope="col">Uppteckningsår</th>
				<th scope="col">Materialtyp</th>
			</tr>
		</thead>
		<% _.each(models, function(model) { %>
			<tr>
				<td class="text-larger"><a href="#record/<%= model.get('id') %>"><%= model.get('title') ? model.get('title') : '(Untitled)' %></a></td>
				<td data-title="Kategori:"><%= model.get('taxonomy').name %></td>
				<td data-title="Socken, Landskap:">
					<% if (model.get('places')) { %>
						<%= model.get('places')[0].name+', '+model.get('places')[0].landskap %>
					<% } %>
				</td>
				<td data-title="Uppteckningsår:"><%= model.get('year') > 0 ? model.get('year') : '' %></td>
				<td data-title="Materialtyp:"><%= model.get('type') %></td>
			</tr>
		<% }) %>
	</table>
</script>

<script type="text/template" id="placeViewTemplate">
	<div class="container">
		
		<div class="row">
			<div class="twelve columns">
				<h2><%= model.get('name') %></h2>
				<p><strong>Härad</strong>: <%= model.get('harad') %>, <strong>Län</strong>: <%= model.get('county') %>, <strong>Landskap</strong>: <%= model.get('landskap') %></p>
			</div>
		</div>

		<div class="row">
			<div class="twelve columns">
				<div class="map-container small"></div>
			</div>
		</div>

		<div class="row search-results-container">
			<div class="twelve columns">
				<h4>Sökträffar</h4>
				<div class="records-list-container"></div>
			</div>
		</div>

		<% if (model.get('informants') && model.get('informants').length > 0) { %>

			<div class="row">
				<div class="twelve columns">
					<h4>Intervjuade personer</h4>
<!--					<h4>Personer som föddes i orten</h4>-->

					<div class="table-wrapper">
						<table width="100%">
							<tr>
								<th>Namn</th>
								<th>Födelseår</th>
							</tr>
							<% _.each(model.get('informants'), function(person) { %>
								<tr>
									<td><a href="#person/<%= person.id %>"><%= person.firstname+' '+person.surname %></a></td>
									<td><%= person.birth_year > 0 ? person.birth_year : '' %></a></td>
								</tr>
							<% }) %>
						</table>
					</div>
				</div>
			</div>

		<% } %>

		<% if (model.get('records') && model.get('records').length > 0) { %>

			<div class="row">
				<div class="twelve columns">
					<h4>Samtliga uppteckningar från orten</h4>

					<div class="table-wrapper">
						<table width="100%" class="table-responsive">
							<thead>
								<tr>
									<th>Titel</th>
									<th>Kategori</th>
									<th>Socken, Landskap</th>
									<th>Uppteckningsår</th>
									<th>Materialtyp</th>
								</tr>
							</thead>
							<% _.each(model.get('records'), function(record) { %>
								<tr>
									<td data-title=""><a href="#record/<%= record.id %>"><%= record.title ? record.title : '(Untitled)' %></a></td>
									<td data-title="Kategori"><%= record.taxonomy.name %></td>
									<td data-title="Socken, Landskap">
										<% if (record.places) { %>
											<!--<a href="#place/<%= record.places[0].id %>">--><%= record.places[0].name+', '+record.places[0].landskap %>
										<% } %>
									</td>
									<td data-title="Uppteckningsår"><%= record.year > 0 ? record.year : '' %></td>
									<td data-title="Materialtyp"><%= record.type %></td>
								</tr>
							<% }) %>
						</table>
					</div>
				</div>
			</div>

		<% } %>

	</div>
</script>

<script type="text/template" id="recordViewTemplate">
	<div class="container">
		
		<div class="row">
			<div class="twelve columns">
				<h2><%= model.get('title') %><br/>
					<span class="lighter">
						Materialtyp: <%= model.get('type') == 'arkiv' ? 'Arkiv' : model.get('type') == 'register' ? 'Register' : model.get('type') == 'tryckt' ? 'Tryckt' : '' %>
					</span>
				</h2>
			</div>
		</div>

		<div class="row">

			<div class="six columns">
				<p><%= model.get('text') %></p>

				<% if (model.get('comment') && model.get('comment') != '') { %>
					<p><strong>Kommentarer:</strong><br/>
					<%= model.get('comment') %></p>
				<% } %>
			</div>

			<% if (model.get('media') && model.get('media').length > 0) { %>
				<div class="four columns u-pull-right">
					<% _.each(model.get('media'), function(image) { %>
						<a class="image-link" target="_blank" href="<%= imageUrl+image.source %>"><img class="archive-image" src="<%= imageUrl+image.source %>" alt=""></a>
					<% }) %>
				</div>
			<% } %>

		</div>

		<hr/>

		<% if (model.get('persons') && model.get('persons').length > 0) { %>
			<div class="row">

				<div class="twelve columns">
					<h4>Personer</h4>

					<div class="table-wrapper">
						<table width="100%" class="table-responsive">
							<thead>
								<tr>
									<th>Namn</th>
									<th>Födelseår</th>
									<th>Födelseort</th>
									<th>Roll</th>
								</tr>
							</thead>

							<% _.each(model.get('persons'), function(person) { %>
								<tr>
									<td data-title=""><a href="#person/<%= person.id %>"><%= (person.firstname ? person.firstname : '')+' '+(person.surname ? person.surname : '') %></a></td>
									<td data-title="Födelseår"><%= person.birth_year && person.birth_year > 0 ? person.birth_year : '' %></a></td>
									<td data-title="Födelseort">
										<% if (person.home && person.home.length > 0) { %>
											<a href="#place/<%= person.home.id %>"><%= person.home.name+', '+person.home.harad %></a>
										<% } %>
									</td>
									<td data-title="Roll"><%= person.relation == 'collector' ? 'Upptecknare' : person.relation == 'informant' ? 'Informant' : '' %></a></td>
								</tr>
							<% }); %>
						</table>
					</div>
				</div>

			</div>
		<% } %>

		<% if (model.get('places') && model.get('places').length > 0) { %>
			<div class="row">

				<div class="six columns">
					<h4>Platser</h4>

					<div class="table-wrapper">
						<table width="100%">

							<tr>
								<th>Namn</th>
							</tr>

							<% _.each(model.get('places'), function(place) { %>
								<tr>
									<td><a href="#place/<%= place.id %>"><%= place.name+', '+place.harad %></a></td>
								</tr>
							<% }); %>
						</table>
					</div>
				</div>

				<div class="six columns">
					<div class="map-container small"></div>
				</div>

			</div>
		<% } %>

		<hr/>

		<div class="row">

			<div class="four columns">
				<% if (model.get('archive') && model.get('archive').archive && model.get('archive').archive != 'null') { %>
					<p><strong>Arkiv</strong><br/>
					<%= model.get('archive').archive %></p>
				<% } %>

				<% if (model.get('archive') && model.get('archive').archive_id && model.get('archive').archive_id != 'null') { %>
					<p><strong>Acc. nr</strong><br/>
					<%= model.get('archive').archive_id %></p>
				<% } %>

				<% if (model.get('archive') && model.get('archive').page && model.get('archive').page != 'null') { %>
					<p><strong>Sid. nr</strong><br/>
					<%= model.get('archive').page %></p>
				<% } %>
			</div>

			<div class="four columns">
				<p><strong>Materialtyp</strong><br/>
				<%= model.get('type') == 'arkiv' ? 'Arkiv' : model.get('type') == 'register' ? 'Register' : model.get('type') == 'tryckt' ? 'Tryckt' : '' %>
				</p>

				<p><strong>Kategori</strong><br/>
				<%= model.get('taxonomy').name %></p>
			</div>

			<div class="four columns">
				<% if (model.get('year') && model.get('year') > 0) { %>
					<p><strong>Uppteckningsår</strong><br/>
						<%= model.get('year') > 0 ? model.get('year') :'' %></p>
				<% } %>

				<% if (model.get('printed_source')) { %>
					<p><strong>Tryckt i</strong><br/>
					<%= model.get('printed_source') %></p>
				<% } %>
			</div>

		</div>

	</div>
</script>

<script type="text/template" id="personViewTemplate">
	<div class="container">
		
		<div class="row">
			<div class="twelve columns">
				<h2><%= (model.get('firstname') ? model.get('firstname') : '')+' '+(model.get('surname') ? model.get('surname') : '') %></h2>
				<p><%=
					(model.get('birth_year') && model.get('birth_year') > 0 ? 'Föddes '+model.get('birth_year') : '')+
					(model.get('birth_year') && model.get('birth_year') > 0 && model.get('home') ? ' i ' : '')+
					(model.get('home') ? '<a href="#place/'+model.get('home')[0].id+'">'+model.get('home')[0].name+', '+model.get('home')[0].landskap+'</a>' : '') 
				%></p>
			</div>
		</div>

		<div class="row">
			<div class="twelve columns">
				<div class="map-container small"></div>
			</div>
		</div>

		<% if (model.get('biography') && model.get('biography').length > 400) { %>

			<div class="row">

				<div class="<%= model.get('image') ? 'eight' : 'twelve' %> columns">
					<% if (model.get('biography')) { %>
						<p><%= model.get('biography') %></p>
					<% } %>
				</div>

				<% if (model.get('image')) { %>
					<div class="four columns">
						<img class="archive-image" src="http://www4.sprakochfolkminnen.se/Folkminnen/Svenska_sagor_filer/<%= model.get('image') %>" alt="">
					</div>
				<% } %>

			</div>

		<% } %>


		<div class="row">
	
			<% if (((!model.get('biography') || model.get('biography').length < 400) && model.get('image')) || (model.get('biography') && !model.get('image'))) { %>
				<div class="four columns">
					<% if (model.get('biography') && model.get('biography').length < 400) { %>
						<p><%= model.get('biography') %></p>
					<% } %>
					<% if (model.get('image')) { %>
						<p><img class="archive-image" src="http://www4.sprakochfolkminnen.se/Folkminnen/Svenska_sagor_filer/<%= model.get('image') %>" alt=""></p>
					<% } %>
				</div>
			<% } %>
	
			<div class="<%= ((!model.get('biography') || model.get('biography').length < 400) && model.get('image')) || (model.get('biography') && model.get('biography').length < 400 && !model.get('image')) ? 'eight' : 'twelve' %> columns">
				<h4>Uppteckningar</h4>

				<div class="table-wrapper person-records-container">
				</div>

			</div>
		</div>

	</div>
</script>

<script type="text/template" id="personRecordsTemplate">
	<table class="table-responsive" width="100%">
		<thead>
			<tr>
				<th scope="col">Titel</th>
				<th scope="col">Kategori</th>
				<th scope="col">Socken, Landskap</th>
				<th scope="col">Roll</th>
				<th scope="col">Uppteckningsår</th>
				<th scope="col">Materialtyp</th>
			</tr>
		</thead>
		<% _.each(models, function(record) { %>
			<tr>
				<td data-title=""><a href="#record/<%= record.get('id') %>"><%= record.get('title') ? record.get('title') : '(Untitled)' %></a></td>
				<td data-title="Kategori:"><%= record.get('taxonomy').name %></td>
				<td data-title="Socken, Landskap:">
					<% if (record.get('places')) { %>
						<a href="#place/<%= record.get('places')[0].id %>"><%= record.get('places')[0].name+', '+record.get('places')[0].landskap %>
					<% } %>
				</td>
				<td data-title="Roll:"><%= record.get('relation') == 'c' ? 'Upptecknare' : record.get('relation') == 'i' ? 'Informant' : '' %></td>
				<td data-title="Uppteckningsår:"><%= record.get('year') > 0 ? record.get('year') : '' %></td>
				<td data-title="Materialtyp:"><%= record.get('type') %></td>
			</tr>
		<% }) %>
	</table>

	<% if (total > 50) { %>
		<br/><br/>
		<button class="prev">Föregående sida</button> <button class="next">Nästa sida</button>&nbsp;&nbsp;&nbsp;<%= currentPage %> - <%= (currentPage+50 > total ? total : currentPage+50) %> av <%= total %>
	<% } %>
</script>

<script src="js/app.js"></script>

</body>
</html>
